# Python and SQL Alchemy
## MySQL Sakila Database - Querying For Answers 
---

In [1]:
# Import Dependencies:
import os
import csv
import json
import numpy as np
import pandas as pd
from datetime import datetime
import simplejson
import sys
import string
from sqlalchemy import create_engine

In [5]:
#rds_connection_string = "<inser user name>:<insert password>@127.0.0.1/customer_db"
rds_connection_string = "root:###@127.0.0.1/sakila"
engine = create_engine(f'mysql://{rds_connection_string}')

In [4]:
# CHECK FOR TABLES in Sakila Database
engine.table_names()

['actor',
 'address',
 'category',
 'city',
 'country',
 'customer',
 'film',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'language',
 'payment',
 'rental',
 'staff',
 'store']

In [10]:
# Querying for all First and Last Name of Actors
pd.read_sql_query(
    'SELECT first_name, last_name FROM actor ORDER BY 2, 1;'
                , con=engine).head()

  first_name last_name
0  CHRISTIAN    AKROYD
1     DEBBIE    AKROYD
2    KIRSTEN    AKROYD
3       CUBA     ALLEN
4        KIM     ALLEN